# Flutter build
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.dart_tool/

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
ios/Podfile.lock

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# Firebase config (⚠️ sensitive!)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Environment files
.env
.env.*

# Logs
*.log

# macOS / Linux
macos/Flutter/ephemeral/
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Coverage
coverage/

# Other
*.lock
